.App {
  text-align: center;
  display:flex;
  background-color: #282c34;
  color:white;
  position:absolute;
  top:0;bottom:0;left:0;right:0;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chatbox{
  flex:1;
  border: 1px solid white;
  position:relative;
}
.chat-log{
  padding:24px;
  text-align:left;
}
.chat-message-chatgpt{
  background-color: rgba(255,255,255,0.1);

 
}
.chat-message-center{
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  padding:12px;
 
  padding-left: 40px;
  padding-right: 40px;

}
.avatar{
  background-color:white;
  border-radius:50%;
  width:40px;
  height:40px;
}
.avatar-chatgpt{
  background-color: rgba(255,255,255,0.1);
  justify-content: center;
  border-radius:50%;
  width:40px;
  height:40px;
}
.avatarstyle {
  position: relative;
  width: 48px; /* Adjust size as needed */
  height: 48px; /* Adjust size as needed */
  background-color: #4f5d75; /* The background color of the circle */
  border-radius: 50%; /* Makes the div circular */
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

.avatarstyle svg {
  width: 80%; /* Adjust the size of the SVG relative to its container */
  height: auto; /* Maintain aspect ratio */
}
.message{
  padding:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidemenu{
  width:240px;
  padding:10px;
  border:1px solid rgba(225, 213, 213, 0.402);
  background-color: rgba(19, 20, 20, 0.297);
}
.side-menu-button{
  padding:12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align:left;
  transition: ease 0.25s all;

}
.side-menu-button:hover{
 background-color: rgba(255,255,255,0.1);

}

.side-menu-button-span{
  padding-left:6px;
  padding-right: 12px;

}
.chat-input-holder{
  padding:24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;


}
.chat-input-text-area{
  background-color:#4f545f;
  width:100%;
  padding:12px;
  border-radius:5px;
  border:none;
  outline:none;
  font-size: 1.25em;
  color:white;
  box-shadow:0 0 8px 0 rgba(19, 20, 20, 0.26);

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

